.dashboardContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7f8;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.wishlistGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr; /* 1 column on mobile */
  gap: 1.5rem;
}

/* On tablets and larger */
@media (min-width: 768px) {
  .mainContent {
    padding: 3rem;
  }
  .wishlistGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

/* On desktops and larger */
@media (min-width: 1024px) {
  .wishlistGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on desktops */
  }
}


.noWishlists {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0.75rem;
}

.noWishlists h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.noWishlists p {
  color: #6b7280;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.createButtonLink {
  padding: 0.75rem 1.5rem;
  background-color: #3b73f7;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s;
}

.createButtonLink:hover {
  background-color: #2563eb;
}

.confirmModalContent {
  text-align: center;
}

.confirmModalContent h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #dc2626; 
}

.confirmModalContent p {
  color: #6b7280;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.confirmButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirmButtons button {
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.cancelButton {
  background-color: #e5e7eb;
  color: #374151;
}
.cancelButton:hover {
  background-color: #d1d5db;
}

.deleteButton {
  background-color: #ef4444; 
  color: white;
}
.deleteButton:hover {
  background-color: #dc2626; 
}


.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ef4444; 
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}